:root {
    --white: #f7f7ff;
    --blue: #87cefa;
    --yellow: #ffd151;
    --black: #343a40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
    width: 0px;
    background: transparent;
}

body {
    width: 100%;
    font-family: 'Casta';
    background-color: var(--white);
}

.intro-transition {
    display: none;
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    width: 100%;
    background-color: var(--blue);
    overflow: hidden;
}

.intro-inner-transition {
    min-height: 100svh;
    background-size: cover;
    background-position: center;
}


@keyframes hai {

    0%,
    100% {
        height: 0;
    }

    25%,
    50%,
    75% {
        height: 100%;
    }
}

.selamat {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    font-size: 2.3rem;
    white-space: nowrap;
    z-index: 5;
    opacity: 0;
}

@keyframes selamat {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
    }

    25%,
    50%,
    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.5);
    }


}

.intro-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 2;
    inset: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    overflow: hidden;
}

.kotak-wrapper {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.kotak-wrapper-top {
    right: 4%;
    left: 4%;
    top: 7%;
}

.kotak-wrapper-bottom {
    right: 4%;
    left: 4%;
    bottom: 7%;
}

.kotak {
    aspect-ratio: 1/1;
    height: 7px;
    background-color: var(--black);
    opacity: 0;
}

.kotak-top:first-child {
    animation: kotak-1 300ms 500ms ease-out forwards;
}

.kotak-top:nth-child(2) {
    animation: kotak-2 300ms 450ms ease-out forwards;
}

.kotak-top:last-child {
    animation: kotak-3 300ms 400ms ease-out forwards;
}

.kotak-bottom:first-child {
    animation: kotak-1-bottom 300ms 400ms ease-out forwards;
}

.kotak-bottom:nth-child(2) {
    animation: kotak-2-bottom 300ms 450ms ease-out forwards;
}

.kotak-bottom:last-child {
    animation: kotak-3-bottom 300ms 500ms ease-out forwards;
}

@keyframes kotak-1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes kotak-2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes kotak-3 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes kotak-1-bottom {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes kotak-2-bottom {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes kotak-3-bottom {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.kotak-top:first-child,
.kotak-top:last-child {
    background: none;
    outline: 1px solid var(--black);
    outline-offset: -1px;
}

.kotak-bottom:first-child,
.kotak-bottom:last-child {
    background: none;
    outline: 1px solid var(--black);
    outline-offset: -1px;
}

.moving-wrapper {
    position: absolute;
    font-weight: 600;
    padding-block: .3rem;
    display: flex;
    white-space: nowrap;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    color: var(--black);
    gap: 1rem;
    opacity: 0;
    font-size: .6rem;
    z-index: 1;
    overflow: hidden;
}

.moving-text-wrapper-top {
    top: 2%;
    right: 0;
    text-align: right;
    animation: moving-text-top 300ms 400ms ease-out forwards;
    transform: translateX(100%);
}

.moving-text-wrapper-bottom {
    bottom: 2%;
    right: 0;
    animation: moving-text-bottom 300ms 400ms ease-out forwards;

}

@keyframes moving-text-top {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    25% {
        opacity: .25;
    }

    50% {
        opacity: .50;
    }

    75% {
        opacity: .75;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moving-text-bottom {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    25% {
        opacity: .25;
    }

    50% {
        opacity: .50;
    }

    75% {
        opacity: .75;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.lingkaran {
    position: absolute;
    aspect-ratio: 1/1;
    z-index: -1;
}

.lingkaran-1 {
    height: 35%;
    border-radius: 50%;
    outline: 1px solid var(--black);
    background-color: var(--blue);
    top: -15%;
    left: -20%;
    animation: lingkaran-1 300ms 300ms ease-out forwards;
    transform: scale(0);
}

@keyframes lingkaran-1 {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.lingkaran-2 {
    height: 45%;
    border-radius: 50%;
    outline: 1px solid var(--black);
    background-color: var(--yellow);
    bottom: -20%;
    right: -25%;
    animation: lingkaran-1 300ms 400ms ease-out forwards;
    transform: scale(0);
}

.lingkaran-3 {
    height: 50%;
    border-radius: 50%;
    background-color: var(--yellow);
    top: -20%;
    left: -5%;
    z-index: -2;
    filter: blur(150px);
    opacity: 0;
    animation: lingkaran-3 300ms ease-out forwards;
}

@keyframes lingkaran-3 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.lingkaran-4 {
    height: 60%;
    border-radius: 50%;
    background-color: var(--blue);
    bottom: -30%;
    left: -35%;
    z-index: -2;
    opacity: 0;
    animation: lingkaran-3 300ms 150ms ease-out forwards;
    filter: blur(150px);
}

.upper-star-wrapper,
.lower-star-wrapper {
    opacity: 0;
    animation: bintang 400ms ease-out 500ms forwards;
}

@keyframes bintang {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.upper-star-wrapper img,
.lower-star-wrapper img {
    aspect-ratio: 1/1;
    height: 30px;
}

.pickup-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
}

.pickup {
    text-align: center;
    text-wrap: balance;
    font-size: 1.7rem;
    font-weight: 600;
    z-index: 1;
    opacity: 0;
    animation: pickup 400ms ease-out 900ms forwards;
}

@keyframes pickup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.pickup-wrapper button {
    position: relative;
    font-family: inherit;
    outline: 1px solid var(--white);
    outline-offset: -5px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    padding: .5rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 200ms ease-in-out;
    isolation: isolate;
    opacity: 0;
    animation: tombol 400ms ease-out 1000ms forwards;
}

@keyframes tombol {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.pickup-wrapper button::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--white);
    scale: 0 0;
    transition: all 200ms ease-in-out;
}

.pickup-wrapper button:hover,
.pickup-wrapper button:hover {
    outline: 1px solid var(--black);
    outline-offset: 0px;
    color: var(--black);
}

.pickup-wrapper button:hover::after,
.pickup-wrapper button:focus::after {
    scale: 1 1;
}

.container {
    z-index: 1;
    min-height: 100svh;
}

.lingkaran-container-blur {
    position: fixed;
    aspect-ratio: 1/1;
    z-index: -1;
    border-radius: 50%;
}

.lingkaran-container-blur-1 {
    top: -15%;
    left: -25%;
    width: 90%;
    background-color: var(--blue);
    filter: blur(120px);
    transform: translate(-100%, -100%);
    animation: lingkaran-blur ;
}

.lingkaran-container-blur-2 {
    bottom: -20%;
    right: -50%;
    width: 120%;
    background-color: var(--yellow);
    filter: blur(170px);
    opacity: .85;
}

.kotak-container {
    position: fixed;
    outline: 1px solid var(--black);
    z-index: -1;
}

.kotak-container-1 {
    width: 80%;
    background-color: var(--yellow);
    aspect-ratio: 1/1;
    border-radius: 50%;
    top: -15svh;
    right: -25%;
}

.kotak-container-2 {
    width: 60%;
    height: 100svh;
    background-color: var(--blue);
    top: 70svh;
    left: 0;
    border-top-right-radius: 100px;
}

.garis {
    position: fixed;
    height: 1px;
    width: 100vw;
    background-color: var(--black);
}

.garis-atas {
    top: 2%;
}

.garis-bawah {
    bottom: 2%;
}

.kotak-container-wrapper-atas, .kotak-container-wrapper-bawah {
    position: fixed;
    right: 4%;
    left: 4%;
    display: flex;
    justify-content: space-between;
}

.kotak-container-wrapper-atas {
    top: 4svh;
}

.kotak-container-wrapper-bawah {
    bottom: 4svh;
}

.kotak-container-atas, .kotak-container-bawah {
    height: 5px;
    min-width: 15%;
}

.kotak-container-atas-1, .kotak-container-atas-3, .kotak-container-bawah-1, .kotak-container-bawah-3 {
    background-color: var(--black);
}

.kotak-container-atas-2, .kotak-container-bawah-2 {
    outline: 1px solid var(--black);
    outline-offset: -1px;
}

.title-wrapper {
    position: fixed;
    width: 100%;
    top: 50svh;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
    outline: 1px solid var(--black);
    padding-block: 1.5rem;
}

.sub-title {
    font-size: 1.5rem;
}

.name {
    font-size: 3.5rem;
}